/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 117 | &:focus, &:active .redLink{
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   main.scss 117:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 117 \2502  &:focus, &:active .redLink{\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   main.scss 117:1  root stylesheet';
}
